@use '../helpers' as *;

.lounge-intro {
  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(12);
    margin-top: rem(40);
  }

  &__tag {
    padding: rem(12) rem(24);
    border: 1px solid var(--color-dark-25);
    background-color: var(--color-dark-12);
    font-size: rem(14);
    letter-spacing: 0.04em;
    color: var(--color-light-25);
    transition: border-color var(--transition-duration), color var(--transition-duration);

    @include hover() {
      border-color: var(--color-accent);
      color: var(--color-accent);
    }
  }
}